@using UserVoice.RCL.Service.Queries;
@inject UserVoiceDataContext Data

<div class="d-flex flex-row-reverse my-3">
    <Pager @bind-Value="@Query.Page" Change="@(() => Refresh(stateHasChanged: true))"/>
</div>

@foreach (var item in Items)
{
    @if (item.Template is TemplateType.ReleaseNote)
    {
        @ReleaseNoteDisplay(item)
    }

    @if (item.Template is TemplateType.Comment)
    {
        @CommentDisplay(item)
    }
    <hr/>
}

@code {
    ReleaseNoteFeed Query = new() { Page = 0 };
    IEnumerable<ReleaseNoteFeedResult> Items = Enumerable.Empty<ReleaseNoteFeedResult>();

    [Parameter]
    public DateTime? LocalTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    async Task Refresh(bool stateHasChanged = false)
    {
        Items = await Query.ExecuteAsync(Data.GetConnection);
        if (stateHasChanged) StateHasChanged();
    }

    private RenderFragment<ReleaseNoteFeedResult> ReleaseNoteDisplay => item =>
        @<div class="row">
            <div class="col-4">
                <h4>
                    <RadzenIcon Icon="@(Data.TypeInfo[item.Type].Icon)" Style="@(Data.TypeInfo[item.Type].Style)" />
                    @item.Title
                </h4>
                <div class="mt-0">
                    <div class="text-muted small">@item.DateCreated.ToString("ddd M/d") | @item.DateCreated.ElapsedRelative(LocalTime ?? DateTime.Now)</div>
                </div>
            </div>
            <div class="col-8">
                @item.ItemBody.ToMarkup()
            </div>
        </div>;

    private RenderFragment<ReleaseNoteFeedResult> CommentDisplay => item =>
        @<div class="row">
            <div class="col-4">
                <h4>
                    <RadzenIcon Icon="@(Data.TypeInfo[item.Type].Icon)" Style="@(Data.TypeInfo[item.Type].Style)" />
                    <span>@item.Title</span>
                    <span class="text-muted ml-2 ms-2">#@item.Id</span>
                </h4>
                <div class="mt-0">
                    <div class="text-muted small">@item.DateCreated.ToString("ddd M/d") | @item.DateCreated.ElapsedRelative(LocalTime ?? DateTime.Now)</div>
                </div>
            </div>
            <div class="col-8">
                <details>
                    <summary>Original Issue</summary>
                    @item.ItemBody.ToMarkup()
                </details>
                <hr />
                <strong>@item.CreatedBy says:</strong> @item.CommentBody.ToMarkup()                
            </div>
        </div>;
}
